.container {
    background-color: #0e0d0d;
    min-width: 300px;
    max-width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container.close {
    min-width: auto;
    width: auto;
}

.container.close  .list li a > p {
    display: none;
}


.list {
    padding: 1rem;
    overflow-y: auto;
}

.list li a {
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    border-bottom: 1px solid #1f1f1f;
    font-size: .8rem;
}

.list li a.active  {
    color: #345dff;
}

.list li a p {
    margin-left: .4rem;
    margin-bottom: 0rem;
}

