
.container  {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.container svg {

    color: #000;
}