.container {
    display: flex;
    flex-direction: row;
    background-color: #1f1f1f;
    height: 100vh;
    width: 100%;
}

.inside {
    width: 100%;
    overflow-x: auto;
}

.content {
    padding: 1.4rem;
}