#webpack-dev-server-client-overlay {
  display: none !important;
}

.dark-theme {
  & .ant-drawer-wrapper-body {
    background-color: #1f1f1f;
  }
  & .ant-drawer-title {
    color: white;
  }
  & .ant-drawer-close {
    & svg {
      color: white;
    }
  }
}

.dark-theme .MuiPaper-root {
  background-color: var(--mainGray) !important;
  & .select-item {
    color: rgba(123, 182, 241, 1) !important;
  }
  & .Mui-selected.select-item {
    color: var(--whiteColor) !important;
  }
}

.ant-picker-panel-container {
  background-color: var(--mainGray) !important;
  & .ant-picker-time-panel-cell-inner {
    color: var(--whiteColor) !important;
  }
  & .ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
    color: var(--whiteColor) !important;
    background-color: black !important;
  }
  & .ant-picker-now-btn {
    color: var(--whiteColor) !important;
  }
}

.ant-tree-treenode.ant-tree-treenode-switcher-open.filter-node {
  border: 1px solid var(--mainGray) !important;
  border-radius: 5px;
  margin-bottom: 2px;
}
