#webpack-dev-server-client-overlay {
  display: none !important;
}

.dark-theme {
  & .ant-drawer-wrapper-body {
    background-color: #1f1f1f;
  }
  & .ant-drawer-title {
    color: white;
  }
  & .ant-drawer-close {
    & svg {
      color: white;
    }
  }
}
